{% extends "layout.html" %}
{% block body %}
<h1 id="welcome"> Bonjour {{current_user.username}}, veuillez saisir les informations suivantes </h1><br>

    <p></p>
<div class="description">
    <form action="/result" method='POST'>

        <form method=post enctype=multipart/form-data>
            <input name="nb de colis" autocomplete="off" autofocus="nb de colis"
                   placeholder="Nombre de colis à expédier" type="number" required min="0">
            <select name="période de l'année">
                {% for month in entry %}
                <option value={{month}}>{{month}}</option>
                {% endfor %}
            </select>
            <select name="secteur d'activité">
                <option value="BR"></option>
            </select>
            <p></p>
            <label class="form-label" for="customFile"> Les différents postes (nom, productivité , indice)</label>
            <input type="file" class="form-control" id="customFile1"/>
            <label class="form-label" for="customFile"> Employés (id, nom) </label>
            <input type="file" class="form-control" id="customFile2"/>
            <label class="form-label" for="customFile"> Polyvalence (id opérateurs, nom des postes) </label>
            <input type="file" class="form-control" id="customFile3"/>


            <p></p>

            <input class="btn btn-primary" type="submit" value="Confirmer" style="border:1px solid #e96a19;
    background:#e96a19;
    border-radius: 0;
    color:#fff;">

        </form>
    </form>
    <p></p>
    <a href="{{url_for('login')}}"> Déconnexion </a>
    </div>




<style>
    #welcome{
        text-align: center;
        top:100px;
        color: #e96a19;
    }
</style>

{% endblock %}