{% extends "layout.html" %}
{% block body %}

<div class="description">
    <h1>Bienvenue sur l'outil de planification CLR!</h1>
   <a href="{{url_for('login')}}"> Connexion </a><br>
    <a href="{{url_for('register')}}"> Inscription </a><br>

</div>
<img src="static/entrepots.jpg" id="entrepot" width="500" height="250" class="img-rounded">
<img src="static/logo_CLR.png" id="logo" width="150" height="150" class="img-rounded">
<style>

    #entrepot {
        position: absolute;
        bottom:60px;
        right:515px;
    }
    #logo {
    position:absolute;
    top: 105px;
    right: 690px;}
</style>

{% endblock %}
