{% extends "layout.html" %}
{% block body %}
<div class="description">
    <h1>Bienvenue sur l'outil de planification CLR!</h1>
    <p>Veuillez importer les données </p>
    <form action="/index" method='POST'>

        <div>
    <input type="file" id="data" name="data"
          accept=".doc, .docs, .pdf">
  </div>
  <div>
    <input class="btn btn-primary" type="submit" value="Confirmer" style="border:1px solid #FFA500;
    background:#FFA500;
    border-radius: 0;
    color:#fff;">
  </div>


    </form>

</div>


{% endblock %}