{% extends "layout.html" %}
{% block body %}

<div class="description">
    <h1>Page de connexion</h1>

    <form method="post" action="/login">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br>
        <input type="submit" value="Login">
    </form>
    <a href="{{url_for('register')}}"> Vous n'avez pas de compte ? Inscrivez-vous  </a><br>


</div>

{% endblock %}
