{% extends "layout.html" %}
{% block body %}


<h1 id="welcome"> Bonjour {{current_user.username}}, veuillez saisir les informations suivantes </h1><br>
<div class="description">

    <form action="/result" method='POST'>

        <!-- Permet à l'utilisateur de renseigner le nombre de colis à expédier -->
        <input name="nb_colis" autocomplete="off" autofocus="nb_colis"
               placeholder="Nombre de colis à expédier" type="number" required min="0">

        <!-- Permet à l'utilisateur de renseigner le nombre moyen de pièces par colis -->
        <input name="nb_pieces" autocomplete="off" autofocus="nb_pieces"
               placeholder="Nombre moyen de pièces par colis" type="number" required min="0">

        <input class="btn btn-primary" type="submit" value="Obtenir le planning" style="border:1px solid #e96a19;
    background:#e96a19;
    border-radius: 0;
    color:#fff;">


    </form>

    <!-- Lien pour se déconnecter -->
    <a href="{{url_for('login')}}"> Déconnexion </a>
</div>

<!-- Images -->

<img src="static/carton.jpg" id="carton1" width="150" height="150" class="img-rounded">
<img src="static/carton.jpg" id="carton2" width="150" height="150" class="img-rounded">
<img src="static/carton.jpg" id="carton3" width="150" height="150" class="img-rounded">
<img src="static/carton.jpg" id="carton4" width="150" height="150" class="img-rounded">
<img src="static/carton.jpg" id="carton5" width="150" height="150" class="img-rounded">
<img src="static/carton.jpg" id="carton6" width="150" height="150" class="img-rounded">
<img src="static/carton.jpg" id="carton7" width="150" height="150" class="img-rounded">


<!-- CSS -->


<style>
    #welcome {
        position: absolute;
        top: 120px;
        right: 300px;
        color: #e96a19;
    }

    #carton1 {
        position: absolute;
        bottom: 5px;
        right: 690px;
    }

    #carton2 {
        position: absolute;
        bottom: 60px;
        right: 20px;
    }

    #carton3 {
        position: absolute;
        bottom: 60px;
        right: 1400px;
    }

    #carton4 {
        position: absolute;
        bottom: 400px;
        right: 1350px;
    }

    #carton5 {
        position: absolute;
        bottom: 400px;
        right: 60px;
    }

    #carton6 {
        position: absolute;
        bottom: 200px;
        right: 300px;
    }

    #carton7 {
        position: absolute;
        bottom: 200px;
        right: 1100px;
    }
</style>

{% endblock %}