{% extends "layout.html" %}
{% block body %}

<div class="description">
    <section class="service">
        <h1 id="equipe"> Notre équipe </h1>
        <div id="services">
            <div class="box">
                <img src=
                            "static/photo_adeline.jpg"
                     alt="picture goes here">

                <p class="center">
                    <a href="" style="text-decoration:none;color:black;
        font-weight:bold;font-family: 'Langar', cursive;">
                    </a>
                </p>
                <p style="font-family: sans-serif">Adeline Baillard </p>
            </div>
            <div class="box">
                <img src=
                           ""
                     alt="picture goes here">

                <p class="center">
                    <a href="" style="text-decoration:none;color:black;
        font-weight:bold;font-family: 'Langar', cursive;">
                    </a>
                </p>

                <p style="font-family: sans-serif ">Eloise Rolland</p>
            </div>
            <div class="box">
                <img src=
                             ""
                     alt="picture goes here">
                <br>
                <p class="center">
                    <a href="" style="text-decoration:none;color:black;
           font-weight:bold;font-family: 'Langar', cursive;">

                    </a>
                </p>
                <p style="font-family: sans-serif ">Thais Souyri</p>

            </div>
        </div>

    </section>

</div>

<style>
    #equipe{
        text-align: center;
        color: #e96a19;
    }

</style>

{% endblock %}